<template>
    <q-card class="my-card">
      <q-img src="/Logo_ADM_Small.png" style="max-width: 100%; width: 320px;"/>

      <q-separator />
      <q-space />

      <q-card-actions>
        <q-btn flat round icon="textsms" />
        <q-btn flat color="primary">
          Contact us
        </q-btn>
      </q-card-actions>
    </q-card>
</template>

<script>

export default {
  name: 'AboutADM',

  data () {
    return {
    }
  }
}

</script>
